<html>
<head>
	<title>delete data</title>

	{% load static %}
<link rel="stylesheet"  href="{% static 'css/main.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="sample.css">
	</head>
	<body bgcolor="grey">
		<center><h1 class="titl"><b>Delete data</b></h1></center>
	<form method="post">
		{% csrf_token %}
		<label class="enterlabeldel"> select location: </label><input type="text" placeholder="enter location " class="deletetext"  name="delsafeplace" ></input><br><br>

		<input type="submit" value="delete" name="" class="deletedata">

		</form>
		<h3 class="deldat">{{ delete }}</h3>
</body>
</html>