h2.usernameforgot{
	position: absolute;
	top:33%;
	left: 40%;
	font-family: arial;
}
h2.passwordforgot{
	position: absolute;
	top:40%;
	left: 40%;
	font-family: arial;
}
h3.errorlogin{
	color: red;
	position: absolute;
	font-family: arial;
	top: 430px;
	left: 580px;
	height: 100px;
	width: 550px;
	font-size: 22px;
}
h3.errordata{
	color: red;
	position: absolute;
	font-family: arial;
	top: 350px;
	left: 150px;
	height: 100px;
	width: 450px;
	font-size: 26px;
}
.forgottitle{
	font-family: arial;
	font-size: 24px;
}
.forgotuser{
	position: absolute;
	top: 70px;
	font-size: 20px;
	left:36%;
}
.forgotusertext{
	position: absolute;
	top: 60px;
	font-size: 20px;
	left:50%;
	border-radius: 6px;
	color: darkblue;
	border-color: darkblue;
	height: 40px;
}
.forgotschool{
	position: absolute;
	top: 130px;
	font-size: 20px;
	left:32%;
}
.forgotschooltext{
	position: absolute;
	top: 130px;
	font-size: 20px;
	left:50%;
	border-radius: 6px;
	color: darkblue;
	border-color: darkblue;
	height: 40px;
}
.forgotsubmit{
	position: absolute;
	top: 200px;
	font-size: 20px;
	left:45%;
	border-radius: 6px;
	height: 40px;
	width: 80px;
	border-color: darkblue;
	color: darkblue;
	cursor: pointer;
}
.forgotsubmit:hover{
	border-color: white;
	color: white;
	background:darkblue;
}
.forgotpassword1{
	position: absolute;
	top:55%;
	left: 40%;
	font-size: 20px;
}
.border{
	position: absolute;
	top:100px;
	left: 560px;
	height: 250px;
	width: 250px;
	border-radius:8px;
	border:2px solid black;
}
.alert{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:60px;
	left:20%;
}
.newdat{
	height: 33px;
	width: 150px;
	border-color: red;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:120px;
	left:20%;
}
.govtadmin{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:180px;
	left:20%;
}
.alert:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.newdat:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.govtadmin:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.admintitle{
	font-family: arial;
	position: absolute;
	top: 0px;
	left:590px;
}
.welcome{
	font-size: 30px;
	font-family: arial;
	position: absolute;
	top: 10px;
	left:28px;
}

.govtimage{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 50px;
	left:600px;
	color: darkblue;
}
.title{
	font-size: 18px;
	position: absolute;
	height: 200px;
	width: 200px;
	top: 210px;
	left:600px;
	font-family: arial;

}
.login{
	position: absolute;
	top: 298px;
	left: 575px;
	font-size: 22px;
	font-family: arial;
}
.password{
	position: absolute;
	top: 345px;
	left: 530px;
	font-size: 22px;
	font-family: arial;
}
.logintext{
	position: absolute;
	top: 290px;
	left: 650px;
	width: 200px;
	height: 35px;
	border-radius: 10px;
	color: darkblue;
	border-color: black;
	font-size: 18px;
}
.logintext:hover{
	
	border-radius: 10px;
	
	border-color: darkblue;
	font-size: 18px;
}
.passwordtext{
	position: absolute;
	top: 340px;
	left: 650px;
	width: 200px;
	height: 35px;
	border-radius: 10px;
	color: darkblue;
	border-color: black;
	font-size: 18px;
}
.passwordtext:hover{
	border-radius: 10px;
	
	border-color: darkblue;
	font-size: 18px;
}
.loginbutton1{
	position: absolute;
	top: 395px;
	left: 770px;
	font-size: 22px;
	border-radius: 8px;
	color: darkblue;
	background-color: white;
	border-color: darkblue;
	cursor: pointer;
	height: 40px;
	width: 80px;
}
.loginbutton1:hover{
	position: absolute;
	top: 395px;
	left: 770px;
	font-size: 22px;
	border-radius: 10px;
	color: white;
	background-color: darkblue;
	border-color: white;
	cursor: pointer;
	height: 38px;
	width: 79px;
}


.alertindex{
	color: white;
	position: absolute;
	top:137px;
	left: 157px;
	font-size: 27px;
}
.labelindex{
	position: absolute;
	top: 250px;
	left: 2%;
	font-size: 22px;

}
.outputloc{
	font-family: arial;
	font-size: 24px;

}
table{
	border: 2px solid black;
	border-radius: 6px;
	height: 500px;
	width: 400px;
}
th{
	font-size: 24px;
	background: black;
	color: white;
}
td{
	font-size: 24px;
	font-family: arial;
}
.about{
	position: absolute;
	top:35px;
	left:75%;
	font-family: arial;
	font-size: 24px;
	color: white;
}
.about1{
	position: absolute;
	top:75px;
	left:75%;
	font-family: arial;
	font-size: 20px;
	color: white;
}
.about2{
	position: absolute;
	top:105px;
	left:75%;
	font-family: arial;
	font-size: 20px;
	color: white;
}
.about3{
	position: absolute;
	top:135px;
	left:75%;
	font-family: arial;
	font-size: 20px;
	color: white;
}
.about4{
	position: absolute;
	top:175px;
	left:75%;
	font-family: arial;
	font-size: 20px;
	color: white;
}
.reflink{
	position: absolute;
	top: 80px;
	left:120px;
	color: darkgreen;
	font-size: 20px;
}
.reflink1{
	position: absolute;
	top: 120px;
	left:120px;
	color: darkgreen;
	font-size: 20px;
}
.reflink2{
	position: absolute;
	top: 160px;
	left:120px;
	color: darkgreen;
	font-size: 20px;
}
.reflink3{
	position: absolute;
	top: 200px;
	left:120px;
	color: darkgreen;
	font-size: 20px;
}
.link1{
	color: white;
	position: absolute;
	top:80px;
	left: 20px;
	font-family: arial;
	font-size: 24px;
}
.link2{
	color: white;
	position: absolute;
	top:120px;
	left: 20px;
	font-family: arial;
	font-size: 24px;
}
.link3{
	color: white;
	position: absolute;
	top:160px;
	left: 20px;
	font-family: arial;
	font-size: 24px;
}
.link4{
	color: white;
	position: absolute;
	top:200px;
	left: 20px;
	font-family: arial;
	font-size: 24px;
}
.refrence{
	font-size: 30px;
	color: white;
	position: absolute;
	left: 20px;
	top:30px;font-family: arial;
}
.govtlogin{
	height: 33px;
	width: 80px;
	color: darkblue;
	border-color:darkblue;
	border-radius: 8px;
	font-size: 26px;
	position: absolute;
	top:330px;
	left:82%;
	cursor: pointer;
}
.govtlogin:hover{
	color:white;
	border-color: white;
	background: darkblue;
}

.djangoadmin{
	position: absolute;
	top: 300px;
	left:83%;
	font-size: 23px;
}
.logingov{
	height: 33px;
	width: 80px;
	color: darkblue;
	border-color:darkblue;
	border-radius: 8px;
	font-size: 20px;
	position: absolute;
	top:330px;
	left:67%;
	cursor: pointer;
}
.logingov:hover{
	color: white;
	border-color:white;
	background: darkblue;
}
.govlabel{
	position: absolute;
	font-size: 20px;
	top:40%;
	left:67%;
}
.refabout{
	border: black;
	background: black;
	height: 350px;
	width:1536px;
	position: absolute;
	top:404px;
	left: 0px;
}
.govindex{
	position: absolute;
	top:160px;
	left: 65%;
	height:150px;
	 width:150px;
}
.govtmain{
	height: 150px;
	width: 150px;
	position: absolute;
	top: 160px;
	left:80%;
}
.govtlogin{
	height: 33px;
	width: 90px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
}
.disastercenter{
	top: 20px;
	position: absolute;
	color: white;
	font-family: arial;
	font-size: 30px;
	left: 38%;
}
div.disaster{
	background: black;
	border: black;
	height: 120px;
	width: 1533px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.sample{
	color:red;
	font-size: 50px;
}
.alertinfo{
	position: absolute;
	top:20px;
	left:160px;
	font-family: arial;
}

.inputbutton{
	 height: 33px;
	width: 90px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:291px;
	left:17%;
}

.inputbutton:hover{
	background: darkblue;
	border-color: white;
	color: white;
}
.input{
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 220px;
    font-size: 17px;
    color:darkblue;
    font-size: 18px;
    position: absolute;
    top:290px;
    left: 2%;	
}

.alertupdate{
	height: 33px;
	width: 90px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:180px;
	left:4%;
}
.alertupdate:hover{
	border-color:white;
	color:white;
	background: darkblue;
}
.alertmain{
	color: red;
	position: absolute;
	top:120px;
	left:70px;
	font-family: arial;
}
.alertlabel{
	position: absolute;
	top:100px;
	left: 34%;
	font-size: 28px;
	font-family: arial;
}
.alerttext{
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 450px;
    font-size: 17px;
    color:darkblue;
    font-size: 18px;
    position: absolute;
    top:150px;
    left: 30%;	
}

.alertbutton{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:200px;
	left:40%;
}
.alertbutton:hover{
	
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	background: darkblue;
	cursor: pointer;
	position: absolute;
	top:200px;
	left:40%;
}
.govtbutton{    
    height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:230px;
	left:40%;}
.govtbutton:hover{
	    height: 33px;
	width: 150px;
	border-color:white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	position: absolute;
	background: darkblue;
	top:230px;
	left:40%;
}

.govtlabel{
	position: absolute;
	top:60px;
	left: 40%;
	font-size: 24px;
	font-family: arial;
}
.govtlabelpass{
	position: absolute;
	top:120px;
	left: 40%;
	font-size: 24px;
	font-family: arial;
}
.govtlabelrepass{
	position: absolute;
	top:173px;
	left: 35%;
	font-size: 24px;
	font-family: arial;

}

.govttext{
	
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 170px;
    font-size: 17px;
    color:darkblue;
    font-size: 18px;
    position: absolute;
    left: 48%;

}


.titl{
	font-family: arial;
	font-size: 28px;
}
.enterlabel{
	font-size: 20px;
	font-family: arial;
}
b.bold{
	font-family:  arial;
	font-size:20px;
}
.enterdata{
	position: absolute;
	top: 370px;
	left:45%;
	height: 40px;
	width: 70px;
	border-color: darkblue;
	color: darkblue;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}
.enterdata:hover{
	border-color: white;
	background:darkblue;
	color: white;
}
.deletedata{
	position: absolute;
	top: 150px;
	left:45%;
	height: 40px;
	width: 70px;
	border-color: darkblue;
	color: darkblue;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}
.deletedata:hover{
	border-color: white;
	background:darkblue;
	color: white;
}
.deldat{
	font-size: 18px;
	position: absolute;
	top:100px;
	left:40%;
}
.deletetext{
	position: absolute;
	left: 45%;
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 170px;
    font-size: 17px;
    color:darkblue;
}
.enterlabeldel{
	position: absolute;
	left: 35%;
	font-size: 22px;
}
.safeplace{
	position:absolute;
	top:70px;
	left:25%;
}
.safe{
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 150px;
    font-size: 17px;
    color:darkblue;
}
.transport{
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 150px;
      font-size: 17px;
      color:darkblue;  
}
.transportfac{
	position:absolute;
	top:70px;
	left:45%;
}
.rescue{
	position:absolute;
	top:70px;
	left:65%;
}
.rescueforce{
	border-color: black;
	border-radius: 8px;
	height: 35px;
	width: 150px;
    font-size: 17px;
    color:darkblue;
}

.alert{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:60px;
	left:20%;
}
.newdata{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:120px;
	left:20%;
}
.datadelete{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:181px;
	left:20%;
}
.govtadmin{
	height: 33px;
	width: 150px;
	border-color: darkblue;
	border-radius: 8px;
	font-size: 18px;
	color: darkblue;
	cursor: pointer;
	position: absolute;
	top:180px;
	left:20%;
}
.alert:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.newdata:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.datadelete:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.govtadmin:hover{
	background-color: darkblue; 
	border-color: white;
	border-radius: 8px;
	font-size: 18px;
	color: white;
}
.admintitle{
	font-family: arial;
	position: absolute;
	top: 0px;
	left:590px;
}
.welcome{
	font-size: 30px;
	font-family: arial;
	position: absolute;
	top: 10px;
	left:28px;
}

.govtimage{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 50px;
	left:600px;
	color: darkblue;
}
.title{
	font-size: 18px;
	position: absolute;
	height: 200px;
	width: 200px;
	top: 210px;
	left:600px;
	font-family: arial;

}
.login{
	position: absolute;
	top: 298px;
	left: 575px;
	font-size: 22px;
	font-family: arial;
}
.password{
	position: absolute;
	top: 345px;
	left: 530px;
	font-size: 22px;
	font-family: arial;
}
.logintext{
	position: absolute;
	top: 290px;
	left: 650px;
	width: 200px;
	height: 35px;
	border-radius: 10px;
	color: darkblue;
	border-color: black;
	font-size: 18px;
}
.logintext:hover{
	
	border-radius: 10px;
	
	border-color: darkblue;
	font-size: 18px;
}
.passwordtext{
	position: absolute;
	top: 340px;
	left: 650px;
	width: 200px;
	height: 35px;
	border-radius: 10px;
	color: darkblue;
	border-color: black;
	font-size: 18px;
}
.passwordtext:hover{
	border-radius: 10px;
	
	border-color: darkblue;
	font-size: 18px;
}
.loginbutton{
	position: absolute;
	top: 395px;
	left: 670px;
	font-size: 22px;
	border-radius: 8px;
	color: white;
	background-color: darkblue;
	border-color: white;
	cursor: pointer;
	height: 40px;
	width: 80px;
}
.loginbutton:hover{
	position: absolute;
	top: 395px;
	left: 670px;
	font-size: 22px;
	border-radius: 10px;
	color: darkblue;
	background-color: grey;
	border-color: darkblue;
	cursor: pointer;
	height: 38px;
	width: 79px;
}

